body {
            background-color: #f8f9fa; /* Hafif gri arka plan */
}

.nav-link {
    padding: 8px 15px;
    text-decoration: none;
    color: rgb(105, 95, 216);
    transition: all 0.3s ease;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: rgb(105, 95, 216);
    color: #ffffff !important;
}

.login-ozel {
    border: 1px solid rgb(105, 95, 216); /* Kenarlık ekle */
    text-align: center;
    margin-top: 10px;
}

.login-ozel:hover {
    background-color: rgb(105, 95, 216);
    color: white !important;
}


.resume-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}